*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.jmx
*.log
node_modules/
.env
.env.local
.DS_Store
dist/
build/
.idea/
.vscode/
*.swp
*.swo
*~
.gradle
.android
.ios
android/
ios/
.expo/
.expo-shared/
*.jsbundle
.env.*.local
*.pem
